<%=@date.year%> <br />
<%=@date.month%>
<table class="calender">
  <th>
  <td>Mon</td>
  <td>Tue</td>
  <td>Wed</td>
  <td>Thru</td>
  <td>Fri</td>
  <td>Sat</td>
  <td>Sun</td>
  </th>
<%@days.each do |week|%>
  <tr>
   <%col_no=1%>
<%week.each do |week_day|%>
    <% if col_no == 6 || col_no == 7 %>
    <td  class ="col_<%= col_no %>">
      <span><%=week_day%></span>
      <%=hidden_field_tag "day[#{week_day}]", week_day %>
    </td>
    <%else%>
    <td  class ="col_<%= col_no %>">
      <%  if @holiday.include?(week_day) %>
        <a id="<%=week_day%>" href="javascript:void(0)" class="set"><%=week_day%></a>
        <%=hidden_field_tag "day[#{week_day}]", week_day %>
      <% else %>
          <a id="<%=week_day%>" href="javascript:void(0)" ><%=week_day%></a>
          <%=hidden_field_tag "day[#{week_day}]"%>
      <% end %>
      
    </td>
    <%end%>
    <%col_no = col_no + 1%>
    <%end%>
  </tr>
<%end%>
</table>
<%=  hidden_field_tag 'month', @date.month %>
<%=  hidden_field_tag 'year', @date.year %>
<%=  hidden_field_tag 'next', @next %>
<script type="text/javascript">
jQuery("table a").click(function(){
val_at = $(this).attr('id');
current_day = "day_"+val_at;
if ($("#"+current_day).val()== "")
{
$("#"+current_day).val(val_at);
$(this).addClass('set');
}
else
{
$("#"+current_day).val('');
$(this).removeClass('set');
}
})

</script>