<div class="form_container">
  <%if @leaves.present? %>
    <div class ="headline">
      Your Leave History
    </div>
    <div class="title_bar"  style="color: Fuchsia; font: bold;background-color: #fff">
      <span style="padding-left: 10px; width:50px"> Slno.</span>
      <span style="width:130px"> Start Date</span>
      <span style="width:130px"> End Date </span>
      <span style="width:280px"> Reason </span>
      <span style="width:100px"> Status </span>
    </div>
    <%  count = 0 %>
    <%  @leaves.each do |leave| %>
      <div class="title_bar">
        <span style="padding-left: 10px; width: 50px"> <%=  count = count + 1 %> </span>
        <span style="width:130px"> <%=  leave.start_date %></span>
        <span style="width:130px"> <%=  leave.end_date %></span>
        <span style="width:280px"> <%=  leave.reason_for_leave.truncate(30) %> </span>
        <span style="width:100px;"> <%=leave.status%> </span>
      </div>
    <%end%>
  <% else %>
    <div> You have not applied for any leaves till now </div>
  <%  end %>
</div>