<div class="form_container">
  <div class ="headline">
    Change your password
  </div>
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="l_row">
      <span class="l_label"><%= f.label :password, "New password" %></span>
      <span class="r_label"><%= f.password_field :password %></span>
    </div>

    <div class="l_row">
      <span class="l_label"><%= f.label :password_confirmation, "Confirm new password" %></span>
      <span class="r_label"><%= f.password_field :password_confirmation %></span>
    </div>

    <div class ="bottom_line_wb"><%= f.submit "Change my password" %></div>
  <% end %>
</div>
<div class ="bottom_line_wb" style="margin-top: 0px">
  <%= render "links" %>
</div>