<div class="form_container">
  <div class ="headline">
    Forgot your password?
  </div>
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="l_row">
      <span class="l_label"><%= f.label :email %></span>
      <span class="r_label"><%= f.email_field :email %></span>
    </div>

    <div class ="bottom_line_wb">
      <%= f.submit "Send me reset password instructions" %>
    </div>
  <% end %>
</div>

