<!DOCTYPE html>
<html>
  <head>
    <title>SimpleCRM</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <%= stylesheet_link_tag  'application' %>
    <%= javascript_include_tag  'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="main_container">
      <%= render :partial => 'layouts/header' %>
      <div style="clear: both"></div>
      <div class="mainContentHolder">
        <div class="shadowMask">
          <%= flash[:notice] if flash[:notice] %>
          <%= yield %>
        </div>
      </div>
      <div style="clear: both"></div>
      <%= render :partial => 'layouts/footer' %>
    </div>
  </body>
</html>
