<div class="l_row">
  <span class="l_label">
    Name<span class="mandatory">&nbsp;* &nbsp</span>
  </span>
  <span class="r_label">
    <%= f.text_field :name %>
  </span>
</div>

<div class="l_row">
  <span class="l_label">
    Email<span class="mandatory">&nbsp;* &nbsp</span>
  </span>
  <span class="r_label">
    <%= f.text_field :email %>
  </span>
</div>

<div class="l_row">
  <span class="l_label">
    Password<span class="mandatory">&nbsp;* &nbsp</span>
  </span>
  <span class="r_label">
    <%= f.text_field :password %>
  </span>
</div>
<div class="l_row">
  <span class="l_label">
    Confirm Password<span class="mandatory">&nbsp;* &nbsp</span>
  </span>
  <span class="r_label">
    <%= f.text_field :password_confirmation %>
  </span>
</div>

<div class="l_row">
  <span class="l_label">
    Role<span class="mandatory">&nbsp;* &nbsp</span>:
  </span>
  <span class="r_label">
    <%=f.select :role_id, options_from_collection_for_select(@role, "id", "name") %>
  </span>
</div>

<div class="l_row">
  <span class="l_label">
    Manager<span class="mandatory">&nbsp;* &nbsp</span>:
  </span>
  <span class="r_label">
    <%= f.select :manager_id, options_from_collection_for_select(@manager, "id", "name") %>
  </span>
</div>


<div class="l_row">
  <span class="l_label">
    Date of Joining<span class="mandatory"></span>
  </span>
  <span class="r_label">
    <%= f.text_field :joining_date %>
  </span>
</div>

<div class="l_row">
  <span class="l_label">
    Salary<span class="mandatory"></span>
  </span>
  <span class="r_label">
    <%= f.text_field :salary %>
  </span>
</div>
