<div class="l_row">
  <span class="l_label">
    First Name<span class="mandatory">&nbsp;* &nbsp</span>:
  </span>
  <span class="r_label">
    <%= f.text_field :first_name %>
  </span>
</div>

<div class="l_row">
  <span class="l_label">
    Last Name<span class="mandatory">&nbsp;* &nbsp</span>:
  </span>
  <span class="r_label">
    <%= f.text_field :last_name %>
  </span>
</div>
<div class="l_row">
  <span class="l_label">
    Email<span class="mandatory">&nbsp;* &nbsp</span>:
  </span>
  <span class="r_label">
    <%= f.text_field :email %>
  </span>
</div>

<div class="l_row">
  <span class="l_label">
    Password<span class="mandatory">&nbsp;* &nbsp</span>:
  </span>
  <span class="r_label">
    <%= f.text_field :password %>
  </span>
</div>
<div class="l_row">
  <span class="l_label">
    Confirm Password<span class="mandatory">&nbsp;* &nbsp</span>:
  </span>
  <span class="r_label">
    <%= f.text_field :password_confirmation %>
  </span>
</div>

<div class="l_row">
  <span class="l_label">
    Role<span class="mandatory">&nbsp;* &nbsp</span>:
  </span>
  <span class="r_label">
    <%= f.text_field :role_id %>
  </span>
</div>

<div class="l_row">
  <span class="l_label">
    Manager<span class="mandatory">&nbsp;* &nbsp</span>:
  </span>
  <span class="r_label">
    <%= f.text_field :manager_id %>
  </span>
</div>
